/*gloabl style*/
html, body{
    width: 100%;
    height: 100%;
    

    margin: 0;
    padding: 0;

    top: 0;
    left: 0;

    overflow: hidden;
    font-family: 'Noto Sans JP', sans-serif;

    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
}


tabel {
    float: left;
    padding-right: 1%;
}

tabel:last-child{
    float: none;
}

a{
    color: #000;
    text-decoration: none;
}

h2{
    padding-left: 50%;
}

form.login{
    margin-left: 23%;
}

/*navigatie*/
.topnav{
    padding-left: 15px;
    letter-spacing: 1.5px;
    font-size: 20px;
    margin-bottom: 20px;
}

.topnav a:hover{
    border: 1px solid powderblue;
    border-radius: 20px;
    background: powderblue;
    color: #000;
}

.topnav a.active{
    background: pink;
    border-color: pink;
    color: #000;
}

.navtext{
    border: 1px solid #4f666a;
    border-radius: 20px;
    padding: 8px 18px;
    background: #4f666a;
    color: #FFFF00;
}

/*boxxen*/

.box{
    height: 12%;
    width: 50%;
    margin-top: 15%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3%;
    border: 10px solid #000;
    border-radius: 30px;
}

.kabelbox{
    padding-left: 15px;
    margin-left: 15px;
    width: 97%;
    border: solid 10px #000;
    border-radius: 30px;
}

.gegevensbox{
    padding-left: 15px;
    margin-left: 15px;
    width: 97%;
    border: solid 10px #000;
    border-radius: 30px;

}

.testbox{
    border: 10px solid #000;
    border-radius: 20px;
    padding: 5px;
    width: 97%;
    margin-left: 15px;
}

.loginbox{
    padding: 15px 10px;
    width: 50%;
    margin-left: 25%;
    margin-top: 12%;
    border: 10px solid #000;
    border-radius: 30px;
}

.kabelbox table{
    float: left;
}

/*buttons*/

button.loginbtn{
    width: 56.2%;
    background-color: #FDBB2D;
    border-color: #FDBB2D;
    padding: 20px;
    margin-top: 2%;
}

.loginbtn:hover{
    background-color: #22C1C3;
    border-color: #22C1C3;
}

/*eigen style*/
.logo{
    padding-left: 15px;
    margin-bottom: 30px;
}