html{
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    background-size: cover;
    background-repeat: no-repeat;

    margin: 0;
    padding: 0;

    width: 100vw;
    height: 100vh;
}

.logo{
    margin-bottom: 30px;
}

a{
    color: #000;
    text-decoration: none;
}

.topnav{
    letter-spacing: 1.5px;
    font-size: 20px;
    margin-bottom: 20px;
}

.topnav a:hover{
    border: 1px solid powderblue;
    border-radius: 20px;
    background: powderblue;
    color: #000;
}

.topnav a.active{
    background: pink;
    border-color: pink;
    color: #000;
}

.navtext{
    border: 1px solid #4f666a;
    border-radius: 20px;
    padding: 8px 18px;
    background: #4f666a;
    color: #FFFF00;
}

.box{
    padding: 15px 10px;
    width: 50%;
    margin-left: 25%;
    margin-top: 12%;
    border: 10px solid #000;
    border-radius: 30px;
}

.kabelbox{
    width: auto;
    height: auto;
    border: solid 10px #000;
}

.index_box{
    float: left;
    width: 18vw;
}

.boxgegevensindex{
    float: left;
    width: 18vw;
}

.testbox{
    border: 10px solid #000;
    border-radius: 20px;
    padding: 5px;
}

.loginbox{
    padding: 15px 10px;
    width: 50%;
    margin-left: 25%;
    margin-top: 12%;
    border: 10px solid #000;
    border-radius: 30px;
}